@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "NanumSquare", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  font-family: "NanumSquare", sans-serif;
}

img {
  vertical-align: middle;
  border: 0;
}

button,
label {
  cursor: pointer;
}

button {
  background-color: unset;
}

.blind {
  position: absolute;
  top: -99999px;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

address,
em,
i {
  font-style: normal;
}

/* 반응형 사이즈 */
.visual .contents .info .info__store {
  border: 2px solid #0e347e;
  height: 350px;
}
.visual .contents .info .info__store div {
  padding: 50px 0 0 30px;
}
@media screen and (max-width: 767px) {
  .visual .contents .info .info__store div {
    padding: unset;
    margin-top: 25px;
  }
}
.visual .contents .info .info__store div h3 a {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #0e347e;
}
@media screen and (max-width: 767px) {
  .visual .contents .info .info__store div h3 a {
    font-size: 25px;
  }
}
.visual .contents .info .info__store div p {
  font-size: 17px;
  font-weight: 700;
  word-break: keep-all;
}

header {
  border-top: 5px solid #0e347e;
}
@media screen and (max-width: 767px) {
  header {
    background: #0e347e;
    position: sticky;
    top: 0;
    z-index: 5;
    border-top: unset;
  }
}
header .head {
  padding: 20px 0 50px;
}
@media screen and (max-width: 767px) {
  header .head {
    padding: unset;
  }
}
header .head .logo a {
  width: 194px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
  height: 60px;
}
@media screen and (max-width: 767px) {
  header .head .logo a {
    width: 150px;
    background: url(../images/logo-2.png) no-repeat center center;
    background-size: contain;
  }
}
header .head .head__gnb li a {
  font-size: 13px;
  color: #808080;
}
header .head .head__gnb:after {
  content: "";
  width: 2px;
  height: 2px;
  background: #808080;
  position: absolute;
  top: 32px;
  left: 80px;
}
header .head .head__menu-btn a {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/menu.svg);
}
header nav .head__menu {
  font-size: 17px;
  font-weight: bold;
}
header nav .head__menu .nav-item {
  position: relative;
  padding: 15px 0;
  width: 133px;
}
@media screen and (max-width: 1200px) {
  header nav .head__menu .nav-item {
    width: 95px;
  }
}
header nav .head__menu .nav-item .head__menu-sub {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  margin-top: 25px;
  display: none;
}
header nav .head__menu .nav-item .head__menu-sub li {
  line-height: 40px;
}
header nav .head__menu .nav-item .head__menu-sub li:hover a {
  color: #0e347e;
  font-weight: 700;
}
header nav .head__menu .nav-item .head__menu-sub li a {
  color: #9a9a9a;
}
header nav .sub-js {
  width: 100%;
  height: 255px;
  background: #fff;
  position: absolute;
  top: 230px;
  z-index: 1;
  left: 0;
  display: none;
}

.visual .main #mainBanner .carousel-indicators {
  overflow: hidden;
}
.visual .main #mainBanner .carousel-indicators li {
  border: 1px solid #fff;
  background-color: unset;
  border-radius: 50%;
  background-clip: unset;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  opacity: 0.8;
}
.visual .main #mainBanner .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
  width: 45px;
  border-radius: 10px;
  transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .visual .main #mainBanner .list-unstyled {
    display: none;
  }
}
.visual .contents .recommend {
  position: relative;
  overflow: hidden;
}
.visual .contents .recommend .recommend__text {
  margin: 50px 0;
}
.visual .contents .recommend .recommend__text .recommend__text-sub li {
  position: relative;
  margin-left: 15px;
}
.visual .contents .recommend .recommend__text .recommend__text-sub li a {
  color: #ccc;
}
.visual .contents .recommend .recommend__text .recommend__text-sub li.active > a {
  color: #0e347e;
  font-weight: 700;
  font-family: "Montserrat";
}
.visual .contents .recommend .recommend__text .recommend__text-sub li:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #ccc;
  top: 0;
  left: -13px;
}
.visual .contents .recommend .recommend__text .recommend__text-sub li:first-child::after {
  display: none;
}
.visual .contents .recommend .recomend__box {
  height: 500px;
}
@media screen and (max-width: 767px) {
  .visual .contents .recommend .recomend__box {
    height: 300px;
  }
}
.visual .contents .recommend .recomend__box > div {
  width: 100%;
  position: absolute;
  display: none;
}
.visual .contents .recommend .recomend__box > div.list1 {
  display: block;
}
.visual .contents .recommend .recomend__box > div .menu {
  width: 200%;
}
.visual .contents .recommend .recomend__box > div .menu li {
  width: 14.2857142857%;
  float: left;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
.visual .contents .recommend .recomend__box > div .menu li img {
  width: 100%;
  transition: 0.5s;
}
.visual .contents .recommend .recomend__box > div .menu li h3 {
  font-size: 17px;
  font-family: "Montserrat";
  word-break: keep-all;
}
.visual .contents .recommend .recomend__box > div .menu li:hover img {
  transition: 0.5s;
  transform: scale(1.2);
}
.visual .contents .recommend .recomend__box > div .menuBtn {
  position: absolute;
  width: 100%;
  top: 50%;
  text-indent: -9999px;
}
.visual .contents .recommend .recomend__box > div .menuBtn .leftBtn {
  float: left;
  background-color: #ffe60080;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding-left: 2px;
  padding-top: 2px;
}
.visual .contents .recommend .recomend__box > div .menuBtn .leftBtn:hover {
  background-color: #ffe600;
  transition: 0.8s;
}
.visual .contents .recommend .recomend__box > div .menuBtn .leftBtn > a {
  display: block;
  background: url(../images/back.svg) no-repeat center center;
  width: 24px;
  height: 24px;
}
.visual .contents .recommend .recomend__box > div .menuBtn .rightBtn {
  float: right;
  background-color: #ffe60080;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding-left: 4px;
  padding-top: 2px;
  transform: translate(-100%);
}
.visual .contents .recommend .recomend__box > div .menuBtn .rightBtn:hover {
  background-color: #ffe600;
  transition: 0.8s;
}
.visual .contents .recommend .recomend__box > div .menuBtn .rightBtn > a {
  display: block;
  background: url(../images/next.svg) no-repeat center center;
  width: 24px;
  height: 24px;
}
.visual .contents .drink {
  height: 550px;
  margin-left: unset;
  margin-right: unset;
}
@media screen and (max-width: 767px) {
  .visual .contents .drink {
    margin-right: unset;
  }
}
.visual .contents .drink .drink__box {
  background-color: skyblue;
}
.visual .contents .drink .drink1 {
  background: url(../images/main_sec3.jpg) no-repeat 100% center;
  background-size: cover;
}
.visual .contents .drink .drink1 div {
  padding: 60px 0 40px 50px;
}
@media screen and (max-width: 767px) {
  .visual .contents .drink .drink1 div {
    padding: 30px;
  }
}
@media screen and (max-width: 375px) {
  .visual .contents .drink .drink1 div {
    padding: 10px 0;
  }
}
.visual .contents .drink .drink1 div h3 {
  padding-bottom: 15px;
}
.visual .contents .drink .drink1 div h3 a {
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #5b6327;
}
@media screen and (max-width: 767px) {
  .visual .contents .drink .drink1 div h3 a {
    font-size: 25px;
  }
}
.visual .contents .drink .drink1 div span a {
  font-size: 17px;
  font-weight: 700;
  color: #798434;
}
.visual .contents .drink .drink2 {
  background: url(../images/main_sec4.jpg) no-repeat center center;
  background-size: cover;
}
.visual .contents .drink .drink2 div {
  padding: 60px 0 40px 50px;
}
@media screen and (max-width: 767px) {
  .visual .contents .drink .drink2 div {
    padding: 30px;
  }
}
@media screen and (max-width: 375px) {
  .visual .contents .drink .drink2 div {
    padding: 10px 0;
  }
}
.visual .contents .drink .drink2 div h3 {
  padding-bottom: 15px;
}
.visual .contents .drink .drink2 div h3 a {
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffae00;
}
@media screen and (max-width: 767px) {
  .visual .contents .drink .drink2 div h3 a {
    font-size: 25px;
  }
}
.visual .contents .drink .drink2 div span a {
  font-size: 17px;
  font-weight: 700;
  color: #f1ae1d;
}
.visual .contents .coffee {
  position: relative;
  height: 500px;
  background: url(../images/coffee.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.visual .contents .coffee .coffee__box {
  background-size: cover;
}
.visual .contents .coffee .coffee__box div {
  padding: 60px 0 40px 50px;
}
@media screen and (max-width: 767px) {
  .visual .contents .coffee .coffee__box div {
    padding: 30px;
  }
}
@media screen and (max-width: 375px) {
  .visual .contents .coffee .coffee__box div {
    padding: 10px 0;
  }
}
.visual .contents .coffee .coffee__box div h3 {
  padding-bottom: 15px;
}
.visual .contents .coffee .coffee__box div h3 a {
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #503214;
}
@media screen and (max-width: 767px) {
  .visual .contents .coffee .coffee__box div h3 a {
    font-size: 25px;
  }
}
.visual .contents .coffee .coffee__box div span a {
  font-size: 17px;
  font-weight: 700;
  color: #6b4d30;
}
@media screen and (max-width: 767px) {
  .visual .contents .coffee {
    background-attachment: unset;
    height: 300px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  .visual .contents .info {
    max-width: unset;
  }
}
.visual .contents .info .info__store .info__box form {
  position: relative;
  margin: 80px 0px;
}
.visual .contents .info .info__store .info__box form input[type=search] {
  border: 2px solid #0e347e;
  width: 250px;
  height: 35px;
}
@media screen and (max-width: 767px) {
  .visual .contents .info .info__store .info__box form input[type=search] {
    width: 185px;
  }
}
@media screen and (max-width: 375px) {
  .visual .contents .info .info__store .info__box form input[type=search] {
    width: 99px;
  }
}
.visual .contents .info .info__store .info__box form > p {
  width: 40px;
  height: 35px;
  position: absolute;
  left: 210px;
  background: #0e347e;
  bottom: 0px;
}
@media screen and (max-width: 767px) {
  .visual .contents .info .info__store .info__box form > p {
    left: 185px;
  }
}
@media screen and (max-width: 375px) {
  .visual .contents .info .info__store .info__box form > p {
    left: 99px;
  }
}
.visual .contents .info .info__store .info__box form > p img {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 5px;
  left: 8px;
}
.visual .contents .info .info-bg {
  background: url(../images/main_sec6.png) no-repeat bottom right;
  background-size: 294px 210px;
}
@media screen and (max-width: 767px) {
  .visual .contents .info .info-bg {
    background-size: 234px 160px;
  }
}
.visual .contents .sns {
  padding-top: 50px;
}
.visual .contents .sns .sns__box {
  margin: 60px 0;
}
.visual .contents .sns .sns__box > a {
  display: inline-block;
  font-size: 17px;
  color: #9a9a9a;
  margin: 10px 5px;
}
.visual .contents .sns .sns__box::after {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background: #0e347e;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin: 20px 0;
}
.visual .contents .sns .sns__icon img {
  width: 32px;
}

footer {
  color: #fff;
  background: linear-gradient(0deg, #0e347e 0%, white 100%);
}
footer .foot__box {
  padding: 300px 0 40px;
}
@media screen and (max-width: 1200px) {
  footer .foot__box {
    padding: 150px 0 30px;
  }
}
@media screen and (max-width: 767px) {
  footer .foot__box {
    padding: 100px 0 30px;
  }
}
@media screen and (max-width: 1200px) {
  footer .foot__box .footWrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer .foot__box .footWrap .foot__logo img {
  width: 200px;
  padding-top: 20px;
}
footer .foot__box .footWrap .foot__text {
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat";
}
@media screen and (max-width: 767px) {
  footer .foot__box .footWrap .foot__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  footer .foot__box .footWrap .foot__text {
    font-size: 14px;
  }
}
footer .foot__box .footWrap .foot__text p {
  line-height: 1.5;
}
footer .foot__box .footWrap .foot__text p span {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  footer .foot__box .footWrap .foot__text p span {
    display: block;
  }
}
footer .foot__box .footWrap .foot__family {
  border: 1px solid #fff;
  width: 185px;
  height: 40px;
  position: relative;
  padding: 10px;
  margin-top: 25px;
}
@media screen and (max-width: 1200px) {
  footer .foot__box .footWrap .foot__family {
    display: none;
  }
}
footer .foot__box .footWrap .foot__family li a {
  color: #fff;
  font-size: 15px;
}
footer .foot__box .footWrap .foot__family .foot__family-btn {
  background-image: url(../images/up-arrow.svg);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
footer .foot__box .footWrap .foot__family .foot__family-sub {
  display: none;
  position: absolute;
  border: 1px solid;
  width: 185px;
  right: -1px;
  bottom: 38px;
}
footer .foot__box .footWrap .foot__family .foot__family-sub li {
  line-height: 2;
}