@import "common";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// font-family: 'Montserrat', sans-serif (700);
$white: #fff;
$black: #111;
$main-color: #ffe600;
$sub-color: #0e347e;

/* 반응형 사이즈 */
$pc-small: 1200px;
$mobile: 767px;
$mini: 370px;

//반응형
@mixin media($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin drink($title, $sub-title) {
  background-size: cover;
  div {
    padding: 60px 0 40px 50px;
    h3 {
      padding-bottom: 15px;
      a {
        font: {
          size: 50px;
          weight: 700;
          family: "Montserrat", sans-serif;
        }
        color: $title;
        @include media($mobile){
          font-size: 30px;
        }
      }
    }
    span {
      a {
        font-size: 17px;
        font-weight: 700;
        color: $sub-title;
      }
    }
  }
}

@mixin menuBtn($float,$left) {
  float: $float;
  background-color: #ffe60080;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding-left: $left;
  padding-top: 2px;
  &:hover{
    background-color: $main-color;
    transition: .8s;
  }
}

%info {
  border: 2px solid $sub-color;
  height: 350px;
  div {
    padding: 50px 0 0 30px;
    h3 {
      a{
      font: {
        size: 40px;
        weight: 700;
        family: "Montserrat", sans-serif;
      }
      color: $sub-color;
    }
    }
    p {
      font-size: 17px;
      font-weight: 700;
    }
  }
}

//   header
header {
  border-top: 5px solid $sub-color;
  @include media($mobile) {
    background:$sub-color;
    position: sticky;
    top: 0;
    z-index: 5;
    border-top: unset;
  }
  .head {
    padding: 20px 0 50px;
    @include media($mobile) {
      padding: unset;
    }
    .logo {
      a {
        width: 194px;
        display: inline-block;
        // img {
        //   max-width: 100%;
         
        // }
        background:url(../images/logo.png) no-repeat center center;
        background-size: contain;
        height: 60px;
        @include media($mobile) {
          width: 150px;
          background: url(../images/logo-2.png) no-repeat center center;
          background-size: contain;
        }
          
      }
    }
    .head__gnb {
      li {
        a {
          font-size: 13px;
          color: #808080;
        }
      }
      &:after {
        content: "";
        width: 2px;
        height: 2px;
        background: #808080;
        position: absolute;
        top: 32px;
        left: 80px;
      }
    }
    .head__menu-btn{
      a{
      display: inline-block;
      width: 30px;
      position: absolute;
      top: 15px;
      right: 10px;
      img{
        width: 100%;
      }
      }
    }
  }

  nav {
    .head__menu {
      font-size: 17px;
      font-weight: bold;
      .nav-item {
        position: relative;
        padding: 15px 0;
        width: 133px;
        // background-color: red;
        @include media($pc-small) {
          width: 95px;
        }
        .head__menu-sub {
          position: absolute;
          z-index: 2;
          width: 100%;
          left: 0;
          margin-top: 25px;
          display: none;
          li {
            line-height: 40px;
            &:hover {
              a {
                color: $sub-color;
                font-weight: 700;
              }
            }
            a {
              color: #9a9a9a;
            }
          }
        }
      }
    }
    .sub-js {
      width: 100%;
      height: 233px;
      background: $white;
      position: absolute;
      top: 203px;
      z-index: 1;
      left: 0;
      display: none;
    }
  }
}

.visual {
  .main {
    #mainBanner {
      .carousel-indicators {
        li {
          border: 1px solid $white;
          background-color: unset;
          border-radius: 50%;
          background-clip: unset;
          width: 10px;
          height: 10px;
          margin-right: 10px;
          opacity: 0.8;
        }
        .active {
          background-color: $white;
          opacity: 1;
          width: 45px;
          border-radius: 10px;
          transition: 0.4s;
        }
      }
      .list-unstyled{
        @include media($mobile){
          display: none;
        }
      }
    }
  }
  .contents {
    .recommend{
      position: relative;
      // background: lightgoldenrodyellow;
      overflow: hidden;
    .recommend__text {
          margin: 50px 0;
      .recommend__text-sub {
        li {
          position: relative;
          margin-left: 15px;
          a {
            color: #ccc;
          }
          &.active>a {
            color: $sub-color;
            font-weight: 700;
            font-family: 'Montserrat';
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: #ccc;
            top: 0;
            left: -13px;
          }
          &:first-child::after {
            display: none;
          }
        }
      }
    }

    .recomend__box {
      height: 500px;
      > div {
        width: 100%;
        position: absolute;
        display: none;
        &.list1 {
          display: block;
        }
        .menu {
          width: 200%;
          li {
            width: (100%/7);
            float: left;
            text-align: center;
            padding:15px;
            box-sizing: border-box;
            img {
              width: 100%;
              transition: .5s;
            
            }
            h3 {
              font-size: 17px;
              font-family: "Montserrat";
              word-break: keep-all;
            }
            &:hover{
              img{
                transition: .5s;
                transform: scale(1.2);
              }
            }
          }
        }

        .menuBtn {
          position: absolute;
          width: 100%;
          top: 50%;
          text-indent: -9999px;
          .leftBtn{
            @include menuBtn(left,2px);
  
            >a{
              display: block;
            background: url(../images/back.svg) no-repeat center center;
            width: 24px;
            height: 24px;
            }
          }
          .rightBtn{
            @include menuBtn(right,4px);
    
            transform: translate(-100%);
            >a{
              display: block;
            background: url(../images/next.svg) no-repeat center center;
            width: 24px;
            height: 24px;
            }
          }
        }
      }
    }
  }

    .drink {
      height: 550px;
      @include media($mobile){
        margin-right: unset;
      }
      .drink__box {
        // width: 50%;
        background-color: skyblue;
      }
      .drink1 {
        background: url(../images/main_sec3.jpg) no-repeat 100% center;
        @include drink(#5b6327, #798434);
        // @include media($mobile){
        //   background: url(../images/mmain_sec3.jpg) no-repeat;
        // }
      }
      .drink2 {
        background: url(../images/main_sec4.jpg) no-repeat center center;
        @include drink(#ffae00, #f1ae1d);
        // @include media($mobile){
        //   background: url(../images/mmain_sec4.jpg) no-repeat 100% center;
        // }
      }
    }

    .coffee {
      position: relative;
      height: 500px;
      background: url(../images/coffee.jpg) no-repeat center center fixed;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 60px 0px;
      .coffee__box {
        @include drink(#503214, #6b4d30);
      }
      @include media($mobile){
        background-attachment: unset; 
        height: 450px;
      }
    }

    .info {
      @include media($mobile){
        max-width: unset;
      }
      .info__store {
        @extend %info;
        .info__box {
          form {
            position: relative;
            margin: 80px 0px;
            input[type="search"] {
              border: 2px solid $sub-color;
              width: 250px;
              height: 35px;
            }
            > p {
              width: 40px;
              height: 35px;
              position: absolute;
              left: 210px;
              background: $sub-color;
              bottom: 0px;
              img {
                width: 24px;
                height: 24px;
                position: absolute;
                bottom: 5px;
                left: 8px;
              }
            }
          }
        }
      }
      .info-bg {
        background: url(../images/main_sec6.png) no-repeat bottom right;
        background-size: 294px 210px;
      }
    }

    .sns {
      padding: 50px 0;
      .sns__box {
        margin: 60px 0;
        > a {
          display: inline-block;
          font-size: 17px;
          color: #9a9a9a;
          margin: 10px 5px;
        }

        &::after {
          display: block;
          content: "";
          width: 50px;
          height: 1px;
          background: $sub-color;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          margin: 20px 0;
        }
      }
      .sns__icon {
        img {
          width: 32px;
        }
      }
    }
  }
}

footer {
  color: $white;
  background: linear-gradient(0deg, $sub-color 0%, white 100%);
  .foot__box {
    padding: 300px 0 40px;
    .foot__logo {
      img {
        width: 200px;
        padding-top: 20px;
      }
    }
    .foot__text {
      letter-spacing: 1px;
      text-align: center;
      font-size: 16px;
      font-family: "Montserrat";
      p {
        line-height: 1.5;
        span {
          padding-left: 10px;
        }
      }
    }
    .foot__family {
      border: 1px solid $white;
      width: 185px;
      height: 40px;
      position: relative;
      padding: 10px;
      margin-top: 25px;

      li {
        a {
          color: $white;
          font-size: 15px;
        }
      }
      .foot__family-btn {
        background-image: url(../images/up-arrow.svg);
        background-position: 95% 50%;
        background-repeat: no-repeat;
      }
      .foot__family-sub {
        display: none;
        position: absolute;
        border: 1px solid;
        width: 185px;
        right: -1px;
        bottom: 38px;
        li {
          line-height: 2;
        }
      }
    }
  }
}
