@import "common";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// font-family: 'Montserrat', sans-serif (700);
$white: #fff;
$black: #111;
$main-color: #ffe600;
$sub-color: #0e347e;

/* 반응형 사이즈 */
$pc-small: 1200px;
$mobile: 767px;
$mini: 370px;

//반응형
@mixin media($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin drink($title, $sub-title) {
  background-size: cover;
  div {
    padding: 60px 0 40px 50px;
    h3 {
      padding-bottom: 15px;
      a {
        font: {
          size: 50px;
          weight: 700;
          family: "Montserrat", sans-serif;
        }
        color: $title;
      }
    }
    span {
      a {
        font-size: 17px;
        font-weight: 700;
        color: $sub-title;
      }
    }
  }
}

@mixin info {
  border: 2px solid $sub-color;
  height: 350px;
  div{

      padding: 50px 0 0 30px;
  h3 {
    font: {
      size: 40px;
      weight: 700;
      family: "Montserrat", sans-serif;
}
color: $sub-color;
  }
  p {
      font-size: 17px;
      font-weight: 700;
      
  }
}
}

//   header
header {
  border-top: 5px solid $sub-color;
  .logo {
    a {
      img {
        width: 194px;
      }
    }
  }
  .head__gnb {
    li {
      a {
        font-size: 13px;
        color: #808080;
      }
    }
    &:after {
      content: "";
      width: 2px;
      height: 2px;
      background: #808080;
      position: absolute;
      top: 32px;
      left: 80px;
    }
  }

  nav {
    .head__menu {
      font-size: 17px;
      font-weight: bold;
      .head__menu-sub {
        display: none;
      }
    }
  }
}

.contents {
  .drink {
    height: 550px;
    .drink__box {
      width: 50%;
      background-color: skyblue;
    }
    .drink1 {
      background: url(../images/main_sec3.jpg) no-repeat 100% center;
      @include drink(#5b6327, #798434);
    }
    .drink2 {
      background: url(../images/main_sec4.jpg) no-repeat center center;
      @include drink(#ffae00, #f1ae1d);
    }
  }
  .coffee {
    position: relative;
    height: 500px;
    background: url(../images/coffee.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .coffee__box {
      @include drink(#503214, #6b4d30);
    }
  }
  .info {
    .info__store {
   
        @include info();
      
    }
  }
}
