@import "common";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// font-family: 'Montserrat', sans-serif (700);
$white: #fff;
$black: #111;
$main-color: #ffe600;
$sub-color: #0e347e;

/* 반응형 사이즈 */
$pc-small: 1200px;
$mobile: 767px;
$mini: 370px;

//반응형
@mixin media($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin drink($title, $sub-title) {
  background-size: cover;
  div {
    padding: 60px 0 40px 50px;
    h3 {
      padding-bottom: 15px;
      a {
        font: {
          size: 50px;
          weight: 700;
          family: "Montserrat", sans-serif;
        }
        color: $title;
      }
    }
    span {
      a {
        font-size: 17px;
        font-weight: 700;
        color: $sub-title;
      }
    }
  }
}

%info {
  border: 2px solid $sub-color;
  height: 350px;
  div {
    padding: 50px 0 0 30px;
    h3 {
      font: {
        size: 40px;
        weight: 700;
        family: "Montserrat", sans-serif;
      }
      color: $sub-color;
    }
    p {
      font-size: 17px;
      font-weight: 700;
    }
  }
}

//   header
header {
  border-top: 5px solid $sub-color;
  .logo {
    a {
      img {
        width: 194px;
      }
    }
  }
  .head__gnb {
    li {
      a {
        font-size: 13px;
        color: #808080;
      }
    }
    &:after {
      content: "";
      width: 2px;
      height: 2px;
      background: #808080;
      position: absolute;
      top: 32px;
      left: 80px;
    }
  }

  nav {
    .head__menu {
      font-size: 17px;
      font-weight: bold;
      .head__menu-sub {
        display: none;
      }
    }
  }
}

.contents {
  .recomend__box{
    img{
      width: 100%;
    }
  }
  .drink {
    height: 550px;
    .drink__box {
      width: 50%;
      background-color: skyblue;
    }
    .drink1 {
      background: url(../images/main_sec3.jpg) no-repeat 100% center;
      @include drink(#5b6327, #798434);
    }
    .drink2 {
      background: url(../images/main_sec4.jpg) no-repeat center center;
      @include drink(#ffae00, #f1ae1d);
    }
  }
  .coffee {
    position: relative;
    height: 500px;
    background: url(../images/coffee.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    .coffee__box {
      @include drink(#503214, #6b4d30);
    }
  }
  .info {
    .info__store {
      @extend %info;
      .info__box {
        form {
          position: relative;
          margin: 80px 0px;
          input[type="search"] {
            border: 2px solid $sub-color;
            width: 250px;
            height: 35px;
          }
          >p{
            width: 40px;
            height: 35px;
            position: absolute;
            left: 210px;
            background: $sub-color;
            bottom: 0px;
           img{
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: 5px;
            left: 8px;
           }
          }
        }
      }
    }
    .info-bg {
      background: url(../images/main_sec6.png) no-repeat bottom right;
      background-size: 294px 210px;
    }
  }
  .sns{
    padding: 50px 0;
    .sns__box{
      margin: 60px 0;
      >a{
        display: inline-block;
        font-size: 17px;
        color: #9a9a9a;
        margin: 10px 5px;
      }
      
      &::after{
        display: block;
        content: '';
        width: 50px;
        height: 1px;
        background:$sub-color;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin: 20px 0;
      }
    }
    .sns__icon{
      img{
        width: 32px;

      }
      
    }
  }
}

footer{
  color: $white;
  background: linear-gradient(0deg, $sub-color 0%, white 100%);
  .foot__box{
    padding: 300px 0 40px ;
  .foot__logo{
    img{
      width: 200px;
      padding-top: 20px;
    }
  }
  .foot__text{
    letter-spacing: 1px;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat';
    p{
      margin: 10px;
      span{
        padding-left: 10px;
      }
    }
  }
  .foot__family{
    border: 1px solid $white;
    width: 185px;
    height: 50px;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    
    li{
      padding:7px 0;
      a{
        
        color: $white;
        font-size: 15px;
      }
    }
    .foot__family-btn{
 
      background-image: url(../images/up-arrow.svg);
      background-position: 95% 50%;
            background-repeat: no-repeat;
    }
    .foot__family-sub{
      display: none;
      position: absolute;
      border: 1px solid;
      width: 185px;
      right: -1px;
      bottom: 48px;
    }
  }
}
}
